[submodule "include/sokol"]
	path = include/sokol
	url = https://github.com/floooh/sokol.git
[submodule "include/HandmadeMath"]
	path = include/HandmadeMath
	url = https://github.com/HandmadeMath/HandmadeMath.git
[submodule "include/stb"]
	path = include/stb
	url = https://github.com/nothings/stb.git
[submodule "include/tinygltf"]
	path = include/tinygltf
	url = https://github.com/syoyo/tinygltf
[submodule "include/tinyobjloader"]
	path = include/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "include/SDL"]
	path = include/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "include/imgui"]
	path = include/imgui
	url = https://github.com/ocornut/imgui.git
